<h1>Edit Comment</h1>
	
<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>   
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>