<% @topic = @topic1 %>
<div class="stats">
  <table summary="User stats">
    <tr>
      <td>
          <span id="scoring" class="stat">
            <%= @topic.score %> following
          </span>
        </a>
      </td>
    </tr>
  </table>
</div>